<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>COVID</title>
</head>

<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">COVID-Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/symptom">Symptoms<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/prevention">Prevention<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Predict<span class="sr-only">(current)</span></a>
                </li>

    </nav>
    <!-- blog -->

    <div class="container my-2" action='/birdgallery'>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-2">
                <h2 class="featurette-heading">KEY SYMPTOMS<span class="text-muted"></span></h2>
                <p class="lead">
                    Signs and symptoms of coronavirus disease 2019 (COVID-19) may appear two to 14 days after exposure. This time after exposure and before having symptoms is called the incubation period. Common signs and symptoms can include: The main symptoms include:
                    <b>Fever,Coughing,Shortness of breath,Trouble breathing Fatigue Chills, sometimes with shaking Body aches,Headache,Sore throat,Loss of smell or taste,Nausea,Diarrhea</b>
                    <b>If you’re infected, symptoms can show up in as few as 2 days
                        or as many as 14. It varies from person to person.
    </b>

                </p>
            </div>
            <div class="col-md-3 my-2">
                <img src="/static/symptoms1.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 order-md-2 my-6">
                <h2 class="featurette-heading">SEVERE SYMPTOMS<span class="text-muted"></span></h2>
                <p class="lead">The virus can lead to pneumonia, respiratory failure, septic shock, and death. Many COVID-19 complications may be caused by a condition known as cytokine release syndrome or a cytokine storm. This is when an infection triggers your immune
                    system to flood your bloodstream with inflammatory proteins called cytokines. They can kill tissue and damage your organs.For safety we all must do atmost one X-ray scan of our lungs,and you can predict the X-ray in the prredict section
                    whether the person is having the symptom of COVID-19 or not of this site</p>
            </div>
            <div class="col-md-3 order-md-1 my-5">
                <img src="/static/pnuemonia.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-6">
                <h2 class="featurette-heading">FAST<span class="text-muted"></span></h2>
                <p class="lead">
                    Strokes have also been reported in some people who have COVID-19. Remember FAST:
                    <p class="lead"><b>♠Face→ </b> Is one side of the person’s face numb or drooping? Is their smile lopsided?</p>
                    <p class="lead"><b>♠Arms→ </b> Is one arm weak or numb? If they try to raise both arms, does one arm sag? </p>
                    <p class="lead"><b>♠Speech→ </b> Can they speak clearly? Ask them to repeat a sentence.</p>
                    <p class="lead"><b>♠Time→ </b> Every minute counts when someone shows signs of a stroke. Call 911 right away.</p>


                </p>
            </div>
            <div class="col-md-3 my-5">
                <img src="/static/symptomm.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 order-md-2 my-4">
                <h2 class="featurette-heading">What to do if you think you have it<span class="text-muted"></span></h2>
                <p class="lead">

                    <p class="lead">→If you don’t feel well, stay home. Even if you have mild symptoms like a headache and runny nose, stay in until you’re better. This lets doctors focus on people who are more seriously ill and protects health care workers and people
                        you might meet along the way. You might hear this called self-quarantine. Try to stay in a separate room away from other people in your home. Use a separate bathroom if you can.Call the doctor if you have trouble breathing. You
                        need to get medical help as soon as possible. Calling ahead (rather than showing up) will let the doctor direct you to the proper place, which may not be your doctor’s office. </p>
                </p>
            </div>
            <div class="col-md-3 order-md-1 my-5">
                <img src="/static/back1.jfif" width=" 200 " height="200 " class="d-block w-100 " alt="... ">
            </div>
        </div>




    </div>


    </div>

</body>